body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fcd2e4;
  margin: 0;
  padding: 0;
  color: #75073c;
}

h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 2.5rem;
  color: #9e3e6c;
}

.contador {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
  background-color: #cdf5fa;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.malla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.anio {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.anio:hover {
  transform: scale(1.03);
}

.anio h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: #666;
}

.materia {
  margin: 10px 0;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
}

#anio1 .materia { background-color: #fce6ae; }
#anio2 .materia { background-color: #c5facb; }
#anio3 .materia { background-color: #dbc3e8; }
#anio4 .materia { background-color: #fcc5db; }
#anio5 .materia { background-color: #bfe3f2; }

.materia.aprobada {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: #dedcdc !important;
  color: #75073c;
}
